*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/kotlinc.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
jacoco.exec
/build
/captures
.externalNativeBuild
/.idea/misc.xml
/.idea/dictionaries/user.xml
/.idea/codeStyles/Project.xml
/.idea/dbnavigator.xml
/.idea/jarRepositories.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/compiler.xml